<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>ACL '17</title>
	<!-- Favicon-->
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="plugins/node-waves/waves.css" rel="stylesheet" />

	<!-- Animation Css -->
	<link href="plugins/animate-css/animate.css" rel="stylesheet" />

	<!-- Morris Chart Css-->
	<link href="plugins/morrisjs/morris.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
	<link href="css/themes/all-themes.css" rel="stylesheet" />

	<script src="/socket.io/socket.io.js"></script>

	<style type="text/css">
		.container1 {
			position: relative;
		}

		.image123 {
		  display: block;
		  width: 100%;
		  height: auto;
		}

		.overlay123 {
		  position: absolute;
		  bottom: 0;
		  opacity: 0.6;
		  left: 0;
		  right: 0;
		  background-color: #000000;
		  overflow: hidden;
		  width: 95%;
		  height: 15%;
		  transition: .5s ease;
		  margin-left: 5px;
		  margin-right: 5px;
		  margin-bottom: 5px;
		}

		.container1:hover .overlay123 {
		  height: 30%;
		}

		.text123 {
		  white-space: nowrap; 
		  background-color: #000000;
		  color: white;
		  font-size: 16px;
		  position: absolute;
		  overflow: hidden;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		}
	</style>
</head>

<body class="theme-red">
	<style>
		.sidebar .user-info-lol {
	    padding: 13px 15px 12px 15px;
	    white-space: nowrap;
	    position: relative;
	    border-bottom: 1px solid #e9e9e9;
	    background: url("../images/MahaFastChamps.png") no-repeat no-repeat;
	    height: 135px; }
	</style>
	<!-- Page Loader -->
	<div class="page-loader-wrapper">
		<div class="loader">
			<div class="preloader">
				<div class="spinner-layer pl-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<p>Please wait...</p>
		</div>
	</div>
	<!-- #END# Page Loader -->
	<!-- Overlay For Sidebars -->
	<div class="overlay"></div>
	<!-- #END# Overlay For Sidebars -->
	<!-- Search Bar -->
	<div class="search-bar">
		<div class="search-icon">
			<i class="material-icons">search</i>
		</div>
		<input type="text" placeholder="START TYPING...">
		<div class="close-search">
			<i class="material-icons">close</i>
		</div>
	</div>
	<!-- #END# Search Bar -->
	<!-- Top Bar -->
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
				<a href="javascript:void(0);" class="bars"></a>
				<a class="navbar-brand" href="index.html">ACE CRICKET LEAGUE 2017</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					
					
					
				   </a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- #Top Bar -->
	<section>
		<!-- Left Sidebar -->
		<aside id="leftsidebar" class="sidebar">
			<!-- User Info -->
			<div class="user-info">
				<div class="image">
					<img src="images/user.png" width="48" height="48" alt="User" />
				</div>
				<div class="info-container">
					<div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= team_object[0].team_name%></div>
					<div class="email"><%= team_object[0].team_owner%></div>
					<!-- <div class="btn-group user-helper-dropdown">
						<i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
						<ul class="dropdown-menu pull-right">
							<li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
							<li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
							<li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
							<li role="seperator" class="divider"></li>
							<li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
						</ul>
					</div> -->
				</div>
			</div>
			<!-- #User Info -->
			<!-- Menu -->
			<div class="menu">
				<ul class="list">
					<!-- <li class="header">MAIN NAVIGATION</li> -->
					<li>
						<a onClick="renderEjs('teamprofile', getCookie('teamToken'));">
							<i class="material-icons">home</i>
							<span>Team Profile</span>
						</a>
					</li>
					<li class="active">
						<a onClick="renderEjs('bidding', getCookie('teamToken'));">
							<i class="material-icons">home</i>
							<span>Bidding</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- #Menu -->
			<!-- Footer -->
			<div class="legal">
				<div class="copyright">
					&copy; 2017 <a href="javascript:void(0);">Ace Cricket League</a>.
				</div>
				<div class="version">
					<b>Version: </b> 1.0.0
				</div>
			</div>
			<!-- #Footer -->
		</aside>
		<!-- #END# Left Sidebar -->
		
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="block-header">
				<h2>DASHBOARD</h2>
			</div>

			<!-- Widgets -->
			<div class="row clearfix">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-pink hover-expand-effect">
						<div class="icon">
							<i class="material-icons">playlist_add_check</i>
						</div>
						<div class="content">
							<div class="text">CURRENT ROUND</div>
							<div class="number count-to" data-from="0" data-to="<%= currentRound%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-cyan hover-expand-effect">
						<div class="icon">
							<i class="material-icons">help</i>
						</div>
						<div class="content">
							<div class="text">BASE BID</div>
							<div class="number count-to" data-from="0" data-to="<%= group_object[0].base_bid%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-light-green hover-expand-effect">
						<div class="icon">
							<i class="material-icons">forum</i>
						</div>
						<div class="content">
							<div class="text">MAXIMUM BID</div>
							<div class="number count-to" data-from="0" data-to="<%= group_object[0].max_bid%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-orange hover-expand-effect">
						<div class="icon">
							<i class="material-icons">person_add</i>
						</div>
						<div class="content">
							<div class="text">BID INCREMENT</div>
							<div class="number count-to" data-from="0" data-to="1000" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-pink hover-expand-effect">
						<div class="icon">
							<i class="material-icons">person_add</i>
						</div>
						<div class="content">
							<div class="text">PREMIUM LEFT</div>
							<div class="number count-to" data-from="0" data-to="<%= team_object[0].premium_left%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-cyan hover-expand-effect">
						<div class="icon">
							<i class="material-icons">person_add</i>
						</div>
						<div class="content">
							<div class="text">CURRENT BID</div>
							<div class="number count-to" data-from="0" data-to="<%= current_bid%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-light-green hover-expand-effect">
						<div class="icon">
							<i class="material-icons">person_add</i>
						</div>
						<div class="content">
							<div class="text">YOUR BID</div>
							<div class="number count-to" data-from="0" data-to="<%= your_bid%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-orange hover-expand-effect">
						<div class="icon">
							<i class="material-icons">person_add</i>
						</div>
						<div class="content">
							<div class="text">YOUR RANK</div>
							<div class="number count-to" data-from="0" data-to="<%= rank%>" data-speed="1000" data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- #END# Widgets -->

			<div class="row clearfix">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class = "card">
						<div class = "body">
							<button type="button" class="btn bg-red btn-block btn-lg waves-effect" style="height: 50px;">BID</button>
							<button type="button" class="btn bg-grey btn-block btn-lg waves-effect" style="height: 50px;" disabled="true">PREMIUM BID</button>
						</div>
					</div>
					<div class="card">	
						<div class="header">
							<h2>
								Ranking
							</h2>
						</div>
						<div class="body">
							<table id="mainTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Team</th>
                                        <th>Bid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<div class="card">
						<div class="header">
							<h2 id="players-category">
								<%= group_object[0].group_desc%> [<%= group_object[0].group_name%>]
							</h2>
						</div>
						<div class="body">
							<div id="gallery-images" class="list-unstyled row clearfix">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		                        	<div class="container1">
		                            	<img class="thumbnail image123" src="<%= player_object[0].player_image%>">
		                        		<div class="overlay123">
		                        			<div class="text123"><%= player_object[0].player_fname +" "+ player_object[0].player_lname%></div>
		                        		</div>
		                        	</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			                        <div class="container1">
		                            	<img class="thumbnail image123" src="<%= player_object[1].player_image%>">
		                        		<div class="overlay123">
		                        			<div class="text123"><%= player_object[1].player_fname + " "+player_object[1].player_lname%></div>
		                        		</div>
		                        	</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			                        <div class="container1">
		                            	<img class="thumbnail image123" src="<%= player_object[2].player_image%>">
		                        		<div class="overlay123">
		                        			<div class="text123"><%= player_object[2].player_fname + " "+player_object[2].player_lname%></div>
		                        		</div>
		                        	</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			                        <div class="container1">
		                            	<img class="thumbnail image123" src="<%= player_object[3].player_image%>">
		                        		<div class="overlay123">
		                        			<div class="text123"><%= player_object[3].player_fname + " "+player_object[3].player_lname%></div>
		                        		</div>
		                        	</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			                        <div class="container1">
		                            	<img class="thumbnail image123" src="<%= player_object[4].player_image%>">
		                        		<div class="overlay123">
		                        			<div class="text123"><%= player_object[4].player_fname + " "+player_object[4].player_lname%></div>
		                        		</div>
		                        	</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			                        <div class="container1">
		                            	<img class="thumbnail image123" src="<%= player_object[5].player_image%>">
		                        		<div class="overlay123">
		                        			<div class="text123"><%= player_object[5].player_fname + " "+player_object[5].player_lname%></div>
		                        		</div>
		                        	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<!-- Jquery Core Js -->
	<script src="plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Select Plugin Js -->
	<script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="plugins/node-waves/waves.js"></script>

	<!-- Jquery CountTo Plugin Js -->
	<script src="plugins/jquery-countto/jquery.countTo.js"></script>

	<!-- Morris Plugin Js -->
	<script src="plugins/raphael/raphael.min.js"></script>
	<script src="plugins/morrisjs/morris.js"></script>

	<!-- ChartJs -->
	<script src="plugins/chartjs/Chart.bundle.js"></script>

	<!-- Flot Charts Plugin Js -->
	<script src="plugins/flot-charts/jquery.flot.js"></script>
	<script src="plugins/flot-charts/jquery.flot.resize.js"></script>
	<script src="plugins/flot-charts/jquery.flot.pie.js"></script>
	<script src="plugins/flot-charts/jquery.flot.categories.js"></script>
	<script src="plugins/flot-charts/jquery.flot.time.js"></script>

	<!-- Sparkline Chart Plugin Js -->
	<script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

	<!-- JQuery Redirect Plugin -->
    <script src="plugins/jquery-redirect/jquery.redirect.js"></script>


	<!-- Custom Js -->
	<script src="js/admin.js"></script>
	<script src="js/pages/index.js"></script>
	<script src="js/pages/medias/image-gallery.js"></script>
    	<script src="js/acl/render-ejs.js"></script>
  	<script src="js/cookies.js"></script>


	<!-- Demo Js -->
	<script src="js/demo.js"></script>

	<!-- Light Gallery Plugin Js -->
    <script src="plugins/light-gallery/js/lightgallery-all.js"></script>
</body>

</html>
